{% extends "base.html" %}
{% load static %}   
{% load wagtailcore_tags %}
{% load static wagtailcore_tags  wagtailimages_tags %}

{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">
            <img class="logo" src="{% static 'src/assets/img/250115_LOGO_ombré_tricolore.png' %}" width="70" height="85">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">A Propos</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Sports</a></li>
                <li class="nav-item"><a class="nav-link" href="#signup">Contactez-nous</a></li>
            </ul>
        </div>
    </div>
</nav> 
{% endblock nav %}
{% block content %}
<!-- About-->
<section class="about-section text-center" id="about">
<div class="container px-4 px-lg-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid"  src="{% static 'src/assets/img/fond-texte.png' %}">
            <img class="img-fluid" src="{% static '../media/original_images/Là où tout commence.png' %}" width="315" height="420" alt="..." />
        </div>
        <div class="col-lg-6">
            <h2 class="text-black-50 mx-auto mt-2 mb-5">Equipementier Sportif et Français</h2>
            <img class="img-fluid"  src="{% static 'src/assets/img/241122_drapeau.png' %}"  width="115" height="220" />
            <p class="text-white-50 text-right ">
                {{ page.body|richtext }}                
            </p>
        </div>
    </div>
    
    <div class="row gx-4 gx-lg-5 justify-content-end">
        
    </div>
   
</div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
<div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/241125_rugby.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>RUGBY</h4>
                <p class="text-black-50 mb-0">
                    Rejoignez la Passion du Rugby avec Artio ! 
                    Vivez le rugby avec l'énergie et la performance qui vous ressemblent ! 
                    Chez Artio, nous proposons une gamme de produits spécialement conçus pour les passionnés de rugby, pour vous accompagner dans chaque étape de votre aventure sportive.
                </p>
            </div>
        </div>
    </div>
     <!-- Project One Row-->
     <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/250119_football.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5 order-lg-first ">
            <div class="featured-text-right text-center text-lg-left">
                <h4>FOOTBALLL</h4>
                <p class="text-black-50 mb-0">
                    Vivez votre passion du football avec Artio !
                    Le football, c’est bien plus qu’un sport. C’est une passion, une énergie, une équipe. Chez Artio, nous vous offrons tout ce dont vous avez besoin pour vivre votre amour du jeu à fond. 
                    Que vous soyez joueur, entraîneur, notre large sélection de vêtements vous accompagne à chaque étape de votre aventure footballistique.
                </p>
            </div>
        </div>
    </div>
     <!-- Featured Project Row-->
     <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/241125_basket2.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>BASKETBALL</h4>
                <p class="text-black-50 mb-0">
                    Vivez le basketball comme jamais auparavant !
                    Que vous soyez joueur débutant ou athlète confirmé, plongez dans l'univers passionnant du basketball avec nos produits de haute qualité. 
                    Alliez confort et style avec nos tenues respirantes et fonctionnelles, parfaitement adaptées aux conditions exigeantes du jeu. 
                    
                </p>
            </div>
        </div>
    </div>
    <!-- Project One Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/241125_volleyball.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5 order-lg-first ">
            <div class="featured-text-right text-center text-lg-left">
                <h4>VOLLEYBALL</h4>
                <p class="text-black-50 mb-0">
                    Découvrez notre gamme de vêtements de Volleyball : Performance et qualité au rendez-vous !
                    Que vous soyez un joueur professionnel ou amateur, notre collection de produits de volleyball est conçue pour maximiser vos performances et votre confort. 
                    Chez Artio, nous comprenons que chaque détail compte lorsqu'il s'agit de briller sur le terrain.
                </p>
            </div>
        </div>
    </div>
     <!-- Featured Project Row-->
     <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/241125_running2.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>RUNNING-ATHLETISME</h4>
                <p class="text-black-50 mb-0">
                    Que vous soyez un coureur débutant ou un marathonien confirmé nous proposons une gamme complète d'équipements de running adaptés à tous les niveaux. 
                    Avec ARTIO chaque foulée devient plus légère, chaque distance plus accessible.
                    Grace aux vêtements techniques qui vous accompagnent par tous les temps. 
                    C'est un style de vie qui vous permet de vous reconnecter avec vous-même et de repousser vos limites, un kilomètre après l'autre. 
                </p>
            </div>
        </div>
    </div>
    <!-- Project One Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/250115_tennis.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5 order-lg-first ">
            <div class="featured-text-right text-center text-lg-left">
                <h4>TENNIS-PADEL</h4>
                <p class="text-black-50 mb-0">
                    Performez avec Style sur les Courts de Tennis et Padel !
                    Que vous soyez amateur ou compétiteur, nos vêtements sont conçus pour accompagner chacun de vos matchs, avec des coupes qui s'adaptent à votre morphologie.
                    Que vous soyez passionné de tennis ou adepte du padel ARTIO offre  une gamme de vêtements de tennis et de padel alliant style, confort et performance pour vous permettre de donner le meilleur de vous-même.
                </p>
            </div>
        </div>
    </div>
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src= "{% static 'src/assets/img/241125_vtt-motocross2.png' %}" alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>VTT-MOTOCROSS</h4>
                <p class="text-black-50 mb-0">
                    Découvrez notre gamme ARTIO d’équipements conçus pour allier style, confort et sécurité. Que vous soyez un amateur de sensations fortes ou un compétiteur aguerri.
                    Pour relever chaque défi, sur deux roues 
                    la performance commence avec le bon équipement sur les circuits avec des styles uniques.

                </p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
        
            
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->
            <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                <!-- Email address input-->
                
                <div class="row input-group-newsletter">
                        {% if page.contact_cta_link %}
                        <a  href="{% pageurl page.contact_cta_link %}" class="btn btn-primary" >
                            {% firstof page.contact_cta page.contact_cta_link.title %}
                        </a>
                    {% endif %}
                   
                    <h1 class="text-white-50 mx-auto mt-2 mb-5">La nouvelle collection arrive ! </h1>
                </div>
                <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3 mt-2 text-white">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
            </form>
        </div>
    </div>
</div>
</section>

<!-- Jquery js-->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
 <script type="text/javascript" src="{% static 'dist/js/scripts.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

{% endblock %}

       





