__pycache__
*.pyc
.DS_Store
*.swp
.env
.env.production
*.sqlite3
/venv/
/.venv/
/tmp/
/static/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
/.idea/
.vscode
coverage
.python-version
.vim
/media
media