{% extends 'base.html' %}
{% load static %} 
{% block nav %}  
{% include "includes/navbar_products.html" %}
{% endblock %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="masthead img-fluid">
    <h1 class="justify-content-center display-4" id="text">e-catalogue</h1>
</header>
{% endblock %}
{% block content %}
<div class="jumbotron justify-content-center">
    {% if artio_catalog %}
        {% for product in artio_catalog %}
        <hr class="my-4">
        <p class="d-flex justify-content-center">{{product.name}}</p>
            {% if product.pdf %}
            <div class="d-flex justify-content-center">
                <embed src="{{ product.pdf.url }}" type="application/pdf" height="700px" width="500px">
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}
