{% extends "products/e_catalogue.html" %}
{% load wagtailimages_tags %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="masthead_joutes img-fluid">
    <h1 class="justify-content-center display-4" id="text">Les joutes nautiques</h1>
</header>
{% endblock %}
{% block content %}
    <h1>
        Welcome to our store 
    </h1>

    <div class="columns">
        {% for product in products %}
            <div class="column col-6">
                <div class="card">
                    <div class="card-image">
                        {% image product.image fill-450x300 as tmp_image %}
                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                        <p>test</p>
                    </div>
                    <div class="card-header">
                        <a href="{{ product.get_url }}" class="btn btn-primary float-right">
                            <i class="icon icon-plus"></i>
                        </a>
                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}