// 
// About
// 

.about-section {
    background:white;
    padding: 2px;
    
    ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }

      li {
        font-family: "Helvetica Neue";
        color:inherit;
        text-decoration:none;
        font-weight: 300;
        font-size: larger;
      }

    p {
        font-family: "Helvetica Neue";
        text-align: justify !important;
        font-weight: 300;
        font-size: smaller;
    }
    h2  {
        font-family: "Helvetica Neue";
        font-weight:200;
        
    }
    h4  {
        font-family: "Helvetica Neue";
        font-weight:200;
        
    }
    #shadow-img {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    }
}
