{% load i18n %}
{% load static %}

<nav id="top_page"  class="navbar navbar-static-top nav-checkout navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav ml-md-auto d-md-flex">
    {% spaceless %}
        <li class="nav-item step1 {% if step == 1 %}  active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
            {% if step == 2 or step == 3 or step == 4 or step == 5%}
                <a href="{% url 'checkout:shipping-address' %}" class="nav-link">
                    <i class="fas fa-chevron-right"></i>
                    <span>
                        {% trans "Shipping address" %}&nbsp;
                    </span>
                </a>
            {% else %}
                <span class="navbar-text" style="color: aliceblue;">
                    <strong>{%  trans "Shipping address" %}&nbsp;</strong>
                </span>
            {% endif %}
        </li>

        <li class="nav-item step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
            {% if step == 4  or step == 5%}
                <a href="{% url 'checkout:payment-details' %}" class="nav-link">
                    <i class="fas fa-chevron-right"></i>
                    <span>
                        {% trans "Payment" %}&nbsp;
                    </span>
                </a>
            {% elif step == 1 or step == 2%}
                <a href="{% url 'checkout:shipping-method' %}" class="nav-link">
                    <span>
                        {% trans "Payment" %}&nbsp;
                    </span>
                </a>
            {% else %}
                <span class="navbar-text" style="color: aliceblue;">
                    <strong>{%  trans "Payment" %}&nbsp;</strong>
                </span>
            {% endif %}
        </li>

        <li class="nav-item step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
            {% if step == 5%}
                <a href="{% url 'checkout:payment-details' %}" class="nav-link">
                    <i class="fas fa-chevron-right"></i>
                    <span>
                        {% trans "Preview" %}&nbsp;
                    </span>
                </a>
            {% elif step == 1 or step == 2 or step == 3%}
                <a href="{% url 'checkout:shipping-method' %}" class="nav-link">
                    <span>
                        {% trans "Preview" %}&nbsp;
                    </span>
                </a>
            {% else %}
                <span class="navbar-text" style="color: aliceblue;">
                    <strong>{%  trans "Preview" %}&nbsp;</strong>
                </span>
            {% endif %}
        </li>

        <li class="nav-item step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
            {% if step == 1 or step == 2 or step == 3 or step == 4%}
                <a href="{% url 'checkout:shipping-method' %}" class="nav-link">
                    <span>
                        {% trans "Confirmation" %}&nbsp;
                    </span>
                </a>
            {% else %}
                <span class="navbar-text" style="color: aliceblue;">
                    <strong>{%  trans "Confirmation" %}&nbsp;</strong>
                </span>
            {% endif %}
        </li>
    {% endspaceless %}
  </ul><!-- /navbar-inner -->
</nav><!-- /navbar -->