.login_form {
    padding: 40px;
    border: 1px solid #e3e3e3;
    margin: 20px;
}

.register_form{
    padding: 40px;
    border: 1px solid #e3e3e3;
    margin: 20px;
    text-align: center;
}

.login_form .title {
    color: #252525;
    font-family: Helvetica, sans-serif;
    margin: 29px;
    padding: 5px;
    text-align: center;
}

.form-control {
    border: 1px solid #e3e3e3 !important;
    height: 50px;
    padding: 0 12px;
    color: #252525;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #fff !important;
    max-width: 100%;
}






