{% load navigation_tags %}

{% block footer %}
         <!-- Footer-->
         <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Artio</h3>
                            
                            <ul>
                                <li>117 rue de Charenton 75012 Paris</li>
                                <li><a href="mailto:contact@artio-sports.com">contact@artio-sports.com</a></li>
                                <li>+33 6 12 50 08 48</li>
                                <li>+33 6 71 90 90 15</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>A Propos</h3>
                            <ul> 
                                <li><a href="{% url 'mention_legales' %}">mentions légales</a></li>
                                <li><a href="{% url 'policy_page' %}">Politique de confidentialité</a></li>
                                <li><a href="{% url 'terms_condition_sale' %}">cgv</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Artio sera présent au Salon Sports & Parasports ! </h3>
                            <p>Retrouvez-nous au Salon Sports & Parasports du 18 au 20 novembre à Paris Expo – Porte de Versailles. </p>
                        </div>
                        
                        <div class="col item social"><a href="#"><i class="fa-brands fa-linkedin"></i></a><a href="https://fr.pinterest.com/artio_sports/"><i class="fa-brands fa-pinterest"></i></a><a href="https://www.instagram.com/artio.sports/"><i class="icon ion-social-instagram"></i></a><a href="https://www.tiktok.com/@artio.sports?_t=ZN-8wDAP1wHc5G&_r=1"><i class="fa-brands fa-tiktok"></i></a></div>
                    </div>
                    <p class="copyright">Tous droits réservés Artio 2025</p>
                </div>
            </footer>
        </div>
        {% endblock %}