{% extends 'oscar/layout.html' %}

{% load static %}

{% block content %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row  align-items-center">
            <div class="col">
                <h2 class="text-left text-black-50 "><b>Conditions générales de ventes</b></h2>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="col justify-content-center">
                <h4 class="text-left text-black-50">1. Préambule </h4>
                <p class=" text-left mx-auto mt-2 mb-5"> 
                    <b>https://artio-sports.com/ </b>(ci-après dénommé « Site ») est édité par la société Artio SAS, dont le siège social est situé au <b>117 rue de Charenton, 75012 Paris </b>et inscrite au registre du commerce et des sociétés de Paris sous le numéro 424 950 459.<br />
                    Les présentes conditions générales de ventes (ci-après « CGV ») s’appliquent à tout achat des produits proposés à la vente sur le Site sélectionnés par tout acheteur consommateur pour ses besoins propres via le service de commande électronique du Site  auprès de la société Artio. 
                    Elles sont accessibles de manière permanente sur le Site.
                    Artio se réserve le droit d’adapter ou de modifier à tout moment les présentes CGV. La version des CGV applicable à toute transaction étant celle figurant en ligne sur le Site au moment de la Commande. Toute Commande implique l’acceptation des CGV sans réserve. L’acceptation des présentes CGV est matérialisée par un clic d’acceptation prévu à cet effet avant toute validation de Commande, dont les modalités sont précisées ci-après.
                    Les CGV constituent l’intégralité des relations contractuelles entre les parties et prévalent sur tout autre document échangé entre les parties, quelle qu’en soit la date de transmission à Artio. Toute condition particulière dérogatoire ou additionnelle aux CGV devra faire l’objet d’une acceptation préalable et écrite de Artio.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">2. Champ d’application</h4>
                <p class=" text-left mx-auto mt-2 mb-5">
                    La vente d’Articles sur le Site est exclusivement réservée à la vente au détail et aux particuliers.
                    Les vendeurs professionnels doivent prendre contact directement avec le service commercial de Artio.
                    Le Client reconnaît et accepte en conséquence que les Articles ne peuvent être achetés qu’en quantités correspondant aux besoins moyens d’un consommateur, et ce tant au regard du nombre d’Articles commandés dans une seule commande qu’au nombre de Commandes individuelles respectant la quantité habituelle d’un consommateur moyen passées pour le même produit. 
                    Artio se réserve la faculté de refuser une commande manifestement validée par un Client vendeur professionnel.
                    Artio se réserve la possibilité de clôturer tout compte client et de refuser en conséquence toute vente à un Client dans les cas suivants :
                </p>
                <ul>
                    <li>Défaut de paiement d’une ou de plusieurs Commandes antérieures,</li>
                    <li>Non respect de l’une quelconque des obligations du Client définies dans les CGV.</li>
                </ul>
                <p class="text-left mx-auto mt-2 mb-5">Le Client sera informé de la clôture de son compte client, de la désactivation de son identifiant et de son mot de passe par email.

                    De la même manière, le Client pourra à tout moment informer Artio par email de sa volonté de clore son compte client.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">3. Disponibilité des Articles</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Les Articles sont proposés à la vente tant qu’ils sont visibles sur le Site. Les offres ne sont valables que dans la limite des stocks disponibles. En cas d’indisponibilité partielle ou totale d’un Article après passation de Commande, le Client est informé par email dès que possible de l’indisponibilité de l’Article et de l’annulation partielle ou totale de sa Commande.
                    Artio apporte le plus grand soin dans la présentation et la description de ces produits pour satisfaire au mieux l’information du Client. Il est toutefois possible que des erreurs non substantielles puissent figurer sur le Site.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">4. Commandes</h4>
                <p class="text-left text-black-50">
                    La procédure de passation de Commande sur le Site est soumise au respect des  différentes étapes que le Client doit suivre pour valider sa Commande.
                    Le Client doit s’identifier.  Lors de son inscription, il doit compléter le formulaire prévu à cet effet sous l’onglet « Nouveau client ». Si le Client est déjà inscrit, il remplira son identifiant et son mot de passe pour s’identifier.
                    Lorsque le Client souhaite valider sa Commande, il doit cliquer sur la case « procéder au paiement» accessible dans l’onglet « Panier ». 
                    Le client doit ensuite remplir le formulaire d'adresse de livraion et suivre les différentes étapes jusqu'à l'étape confimation de la commande. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">5. Prix et modalités de paiement</h4>
                <p class=" text-left mx-auto mt-2 mb-5">
                    Sauf mention contraire, les prix de vente des Articles sont indiqués en euros (eur) et s’entendent toute taxe comprise (dont TVA, qui peut être différente selon les pays de facturation).
                    Ces prix n’incluent pas la participation aux frais d’expédition facturés en sus. Ces frais sont indiqués avant la passation de Commande par le Client et font l’objet d’une mention distincte dans le récapitulatif de la Commande. Le prix total de la Commande (toutes taxes et frais de port compris) est indiqué dans le panier et au moment du récapitulatif de la Commande.
                    artio se réserve le droit de modifier ses prix à tout moment mais les Articles seront facturés sur la base des tarifs en vigueur au moment de l’enregistrement de la Commande, sous réserve de disponibilité.
                    Le règlement des achats s’effectue via les plateformes sécurisées Stripe.  Le Client reconnaît expressément que la communication de son numéro de carte bancaire à Artio vaut autorisation de débit de son compte à concurrence du montant de la Commande.
                    Les données enregistrées et conservées par Artio constituent la preuve de la commande et de l’ensemble des transactions passées. Les données enregistrées par Stripe constituent la preuve des transactions financières.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">6. Livraison</h4>
                <p class=" text-left mx-auto mt-2 mb-5">
                    La livraison est effectuée à l’adresse de livraison indiquée par le Client, étant précisé que celle-ci doit être l’adresse de résidence du Client, d’une personne physique de son choix ou d’une personne morale (livraison à son entreprise). 
                    La livraison ne peut être effectuée ni dans des hôtels, ni à des boîtes postales.
                    Les commandes sont expédiées en moyenne sous 3 (trois) jours, mais le délai peut être prolongé jusqu’à 10 (dix) jours ouvrés. Afin que ces délais soient respectés, le Client doit s’assurer d’avoir communiqué des informations exactes et complètes concernant l’adresse de livraison (tels que, notamment : n° de rue, de bâtiment, d’escalier, codes d’accès, noms et/ou numéros d’interphone, etc.).
                    
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">7. Droit de rétractation</h4>
                <p class=" text-left mx-auto mt-2 mb-5">
                    Le Client bénéficie d’un droit de rétractation pendant un délai de 15 (quinze) jours à compter de la réception de sa Commande.           
                    Le Client doit manifester à Artio sa volonté de se rétracter par envoi du formulaire de  rétractation au siège social de Artio, à l'adresse suivante : 117 rue de Charenton 75012 Paris.
                    Dans ce deuxième cas, Artio envoie au Client sans délai un accusé de réception de la rétractation par email.<br />

                   <u>FORMULAIRE DE RÉTRACTATION</u> <br />
                   À l’attention de Service Client Artio, 117 rue de Charenton 75012 Paris- contact@artio-sports.com<br />

                   Je vous notifie par la présente ma rétractation du contrat portant sur la vente du bien (Article(s) retourné(s)/pour la prestation de services (*) ci-dessous :<br />
                   
                   Date de commande :<br />
                   
                   Numéro de commande :<br />
                   Nom du (des) consommateur(s) :<br />
                   Adresse du (des) consommateur(s) :<br />
                   
                   Article(s) retourné(s):<br />
                   
                   Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier) :<br />
                   Date :<br />

                   Le Client doit alors retourner les Articles à Artio dans un délai de 14 (quatorze) jours suivant la communication de sa décision de se rétracter. 
                   Le(s) Article(s) doi(ven)t être retourné(s) dans son(leur) emballage d’origine, dans son(leur) état d’origine, neuf(s), non lavé(s).
                   En cas de retour sur toute la commande, l’intégralité des sommes versées, par le Client sera remboursée par Artio en utilisant le même moyen de paiement que celui utilisé pour le règlement de la Commande au plus tard dans le délai de 14 (quatorze) jours suivant la date à laquelle Artio aura pris connaissance de la décision du Client de se rétracter. 
                   Artio peut différer le remboursement jusqu’à récupération des Articles ou jusqu’à ce que le Client ait fourni une preuve de l’expédition de ces Articles, la date retenue étant celle du premier de ces faits. 
                   Les frais de retour sont à la charge de Artio si l’Article livré est différent de l’Article commandé ou endommagé. 
                   À défaut de respect par le Client des présentes CGV, notamment des conditions de retour, Artio ne pourra procéder au remboursement des Articles concernés.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">8. Garanties et réclamations</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Réclamations : À la réception des Articles, le Client doit immédiatement vérifier l’état et la conformité des Articles par rapport à la Commande, notamment la qualité et la quantité des Articles et leurs caractéristiques. 
                    Si les Articles ne sont pas conformes à la Commande ou détériorés, le Client doit formuler des réserves et réclamations auprès du transporteur ou refuser la livraison si le colis est ouvert ou détérioré, et adresser ses réclamations par lettre recommandée à Artio – 117 rue de Charenton, 75012 Paris  ou par email à l’adresse contact@artio-sports.com dans les 15 (quinze) jours suivant la livraison. Le Client doit alors préciser et justifier de manière exhaustive les motifs de réclamation. 
                    Aucune réclamation ne sera prise en compte si l'utilisation des articles est jugée disproportionnée. Aucun retour spontané, sans accord de Artio, ne sera accepté, sauf cas d’exercice du droit de rétractation.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">9. Responsabilité</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Artio n’a, pour toutes les étapes d’accès au Site, du processus de Commande à l’expédition du colis ou des services postérieurs, qu’une obligation de moyens. La responsabilité de Artio ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques, ou de tout fait qualifié de force majeure, conformément à la loi et à la jurisprudence.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">10. Données personnelles</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Lors de l’enregistrement des données personnelles du Client, ce dernier doit s’assurer de l’exactitude et de l’exhaustivité des données qu’il fournit. En cas d’erreur dans le libellé des coordonnées du destinataire, Artio ne saurait être tenu responsable de l’impossibilité de livrer la Commande.
                    Artio collecte des données personnelles concernant le Client lors de son inscription pour les besoins de toute Commande effectuée sur le Site. 
                    Ces données ne sont utilisées que dans le cadre de la relation commerciale de Artio avec son Client conformément à la politique de confidentialité et de traitement des données personnelles, laquelle précise également les droits dont dispose le Client concernant ses données personnelles collectées et traitées par Artio.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">11. Réserve de propriété</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Les Articles commandés demeurent la propriété de Artio jusqu’au paiement intégral du prix par le Client, en principal et intérêts. En cas d’incident de paiement à l’échéance convenue, Artio se réserve le droit de mettre en œuvre toutes les mesures utiles pour récupérer les Articles.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">12. Force majeure</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    En cas de survenance d’un événement de force majeure, la partie concernée devra en informer l’autre dans un délai de 15 (quinze) jours à compter de la survenance de cet événement, par lettre recommandée avec accusé de réception. 
                    L’ensemble des obligations des parties seront suspendues pendant toute la durée de l’événement de force majeure, sans indemnité. 
                    Si l’événement de force majeure se prolonge pendant plus de 3 (trois) mois, la Commande concernée pourra être résiliée de plein droit sans indemnité pour l’une ou l’autre des parties.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-left text-black-50">13. Loi applicable – Médiation – Juridiction compétente</h4>
                <p class="text-left mx-auto mt-2 mb-5">
                    Les présentes CGV sont soumises au droit français.<br />
                    <br />
                    En cas de contestation née à l’occasion d’une Commande soumise aux présentes CGV, le Client doit adresser ses réclamations par écrit à Artio par email à l’adresse contact@artio-sports.com ou par courrier adressé au siège social de Artio, en précisant et justifiant de manière exhaustive et par écrit les motifs de la réclamation.<br />
                    <br />
                    Si le litige n’est pas résolu après une telle réclamation, le Client a la possibilité de recourir à un mode alternatif de règlement des différends.<br />
                    <br />
                    Le Client a notamment le droit de recourir gratuitement (hors éventuels frais d’avocat et d’expertise) à un médiateur de la consommation en vue de la résolution amiable du litige qui l’oppose à Artio sous réserve que (i) le Client ait préalablement tenté de résoudre le litige directement auprès de Artio  par une réclamation écrite comme indiqué ci-dessus, (ii) que sa demande ne soit pas infondée et (iii) que le litige n’ait pas déjà été examiné par un autre médiateur ou par un tribunal. Le Client dispose d’un délai de 1 (un) an à compter de sa réclamation écrite à Artio pour introduire sa demande auprès du médiateur.<br />
                    <br />
                    Le Client peut adresser sa demande par courrier adressé au Centre de la Médiation de la Consommation de Conciliateurs de Justice, à l’adresse suivante: CM2C - 14 rue Saint Jean - 75017 Paris – France ou par email : contact@cm2c.net. ou en ligne à l’adresse suivante : www.cm2c.net.<br />
                    <br />
                    Pour toute information complémentaire sur la procédure de médiation, le Client consommateur peut consulter le site internet de cm2c (http://www.cm2c.net) ou contacter directement cm2c par téléphone au +33 (0)1.89.47.00.14.<br />
                    <br />
                    Le Client peut avoir recours à la plateforme européenne de règlement en ligne des litiges : http://ec.europa.eu/consumers/odr/.<br />
                    <br />
                    En cas de litige afférent à une Commande ou à l’application des présentes CGV , le consommateur peut saisir, soit l'une des juridictions territorialement compétentes en vertu du code de procédure civile, soit la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable. <br />
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}