{% extends 'home/home_page.html' %}
{% load wagtailcore_tags %}
{% load static %}   

{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">
            <img class="logo" src="{% static '../media/original_images/250115_LOGO_ombré_tricolore.png'%}" width="70" height="85">
        </a>
        
    </div>
</nav> 
{% endblock nav %}
{% block header %}
<header class="masthead_mention">
       
</header>
{% endblock %}

{% block content %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row  align-items-center">
            <div class="col">
                <h2 class="text-left text-black-50 ">Politique de confidentialité et de traitement des données personnelles de Artio</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col justify-content-center">
                <p class=" text-left ">Nous pouvons collecter des données à caractère personnel vous concernant par l’intermédiaire de notre site Internet, de nos magasins ou de notre service commercial.
                    Les données que nous collectons sont, selon les cas : </p>
                <ul class="text-left mx-auto mt-2 mb-5" >
                    <li>vos prénom et nom</li>
                    <li> votre adresse email</li>  
                    <li>votre adresse de facturation et/ou de livraison</li>    
                    <li>votre numéro de téléphone</li>    
                </ul>
                <p class=" text-left ">l’adresse IP de l’ordinateur depuis lequel vous vous connectez au site Internet de Artio.
                    Nous pouvons collecter vos données personnelles de plusieurs manières :
                    Dans le cadre de la création, en ligne ou par l’intermédiaire de notre service commercial, de votre compte client;
                    Dans le cadre de la passation de commande;
                    Quand vous contactez le service client, notamment pour une réclamation ;
                    Dans le cadre de votre navigation et utilisation de son site Internet, par l’intermédiaire de cookies tel que Google Analytics notamment . </p>
                <p class="text-left">communiquer avec les utilisateurs du Site,
                    exécuter la commande d’un client et gérer la relation client,
                    effectuer des opérations de prospection commerciale par email et sur les réseaux sociaux.
                    Informer les clients de nos produits et services et personnaliser les produits proposés sur les réseaux sociaux
                    analyser le trafic de notre site Internet.
                    Le traitement de vos données personnelles est réalisé :
                    soit sur la base de l’exécution d’une commande et la gestion de la relation client (passation de commande, achats, exercice de votre droit de rétractation, traitement de vos réclamations notamment);
                    soit sur la base de l’exécution de mesures précontractuelles prises à votre demande (création du compte client) ;
                    soit sur la base de notre intérêt légitime (pour l’analyse du trafic ainsi qu’en matière d’opérations de prospection commerciale).
                    La fourniture de vos données personnelles est nécessaire à la communication, à la conclusion ou/et l’exécution d’éventuels contrats avec vous.
                    Les données personnelles devant obligatoirement nous être communiquées à ce titre sont identifiées par un astérisque à côté du type de donnée concernée, lors de la création du compte client, lors de la passation de commande. La non-fourniture des données obligatoires nous empêchera de communiquer avec vous ou de conclure le contrat concerné.
                    Les destinataires de vos données sont :
                    le personnel habilité du service marketing, du service commercial, des services chargés de traiter la relation client et la prospection, des services administratifs, des services logistiques et informatiques ainsi que leurs responsables hiérarchiques ;
                    le personnel habilité des services chargés du contrôle (commissaire aux comptes, services chargés des procédures internes du contrôle…) ;
                    le personnel habilité des sous-traitants dès lors que le contrat signé entre les sous-traitants et Sessùn fait mention des obligations incombant aux sous-traitants en matière de protection de la sécurité et de la confidentialité des données  et précise notamment les objectifs de sécurité devant être atteints. 
                    Les données personnelles collectées sont conservées pendant les durées suivantes :
                    s’agissant des personnes physiques clientes : 10 ans après la fin de la relation contractuelle avec le client concerné ;
                    s’agissant des prospects : 3 ans à compter de leur collecte ou de notre dernier contact avec vous.
                    Conformément à la règlementation applicable, vous pouvez demander des informations à tout moment sur vos données personnelles détenues par Artio, demander leur rectification, si elles sont inexactes ou incomplètes, leur effacement ou une limitation à leur traitement le cas échéant en vous adressant à <a class="text-left" href="mailto:contact@artio-sports.com">contact@artio-sports.com</a></p>
                    
            </div>
        </div>
       
    </div>
</section>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}